.community-page .hero-section {
    background-color: var(--communityHeroSection_BgColor);
}
.community-page .header {
    max-width: 846px;
    color: var(--gray-dark-color, #101010);
    font-family: var(--font-cosmos);
    text-align: center;

    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;

    @media (max-width: 768px) {
        font-size: 35px;
        line-height: 35px;
    }
}

.community-page .comm-text {
    padding-top: .5rem;
    color: var(--gray-dark-color, #101010);
    text-align: center;
    font-family: var(--font-neueMontrealRg);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media (max-width: 768px) {
        padding-top: 1rem;
        text-align: center;
        font-size: 16px;
    }
}

.community-page .innovator-group {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 10px;
}

.community-page .innovator-group img {
    /* border: 2px solid white;
    margin-left: -20px; */

    @media (max-width: 768px) {
        width: 119px;
        height: 35.87px;
    }
}

.star-group {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}

.star-group .star-icon {
    width: 30px;
    height: 30px;
}

.community-page .info-list {
    display: grid;
    place-items: center;
    padding: 3rem;
    gap: 3rem;
    grid-template-columns: 1fr;

    @media (max-width: 768px) {
        padding: 1rem;
        gap: 2rem;

        .info-card {
            max-width: unset;
        }
    }

    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.community-page .mentorship h3 {
    color: var(--gray-dark-color, #101010);
    font-family: var(--font-cosmos);
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    @media (max-width: 768px) {
        font-size: 30px;
    }
}

.community-page .academy-community .community-stackImages .enrolled {
    background-color: #ffffff17;
    backdrop-filter: blur(3px);
}
.community-page .academy-community .community-stackImages .enrolled p {
    color: var(--gray_white-color);
    font-size: 16px;
}


.community-page .academy-card .explorer-card {
    background-color: var(--white-color);
    border-radius: 10px;
    border: 2px solid var(--gray_white-color);
}
.community-page .mentorship .explorer-card {
    border: 2px solid var(--gray_white-color);
    height: 225px;
    padding-top: 20px;
}
.community-page .academy-card .icon-wrapper {
    height: 40.71px;
    width: 40.71px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border_gray-color);
}

.community-page .events-info h3 {
    color: var(--gray-dark-color, #101010);
    font-family: var(--font-cosmos);
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
}
.community-page .events {
    padding: 3rem;
}
.community-page .events .events-showcase {
    background-color: #FCF562;
    border-radius: 10px;
    overflow: hidden;
    height: 433px;
}

.community-page .events-info p {
    color: #101010;
    font-family: var(--font-neueMontrealRg);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.join-steps {
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 3rem;
}

.join-steps h2 {
    color: var(--gray-dark-color, #101010);
    font-family: var(--font-cosmos);
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.join-steps li {
    color: var(--card_text-color, #3C3C3C);
    font-family: var(--font-neueMontrealRg);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.join-steps li span {
    font-style: italic;
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    .community-page .events {
        padding: 1rem;
    }
    .community-page .events-info {
        padding: 10px 20px;
        max-width: unset !important;
    }

    .community-page .events-info h3 {
        margin: 0 !important;
        font-size: 30px;
    }

    .community-page .events-info p {
        font-size: 16px;
        line-height: 18px;
    }
    .community-page .events .events-showcase {
        background-color: #FCF562;
        border-radius: 10px;
        overflow: unset;
        height: auto;
    }

    .join-steps {
        padding: 1rem;
    }

    .join-steps h2 {
        font-size: 30px;
        text-align: center;
        line-height: normal;
    }

    .join-steps li {
        font-size: 20px;
    }

}