
.programs-section .tabs-section {
    scroll-behavior: smooth;
    scrollbar-width: none;
    white-space: nowrap;
    overflow-x: auto;  
    border-radius: 50px;
    background-color: var(--white_gray-color);
}

.programs-section .tab-description .tab-heading {
    max-width: 814px;
    margin: auto; 
    line-height: 25px;
    color: var(--card_text-color);
}

.programs-section .courses-display {
    /* display: flex;
    flex-wrap: wrap; */
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
    /* gap: 20px; */
    scroll-behavior: smooth;
    scrollbar-width: none;
    overflow-y: auto;
    height: 900px;
    /* justify-content: center; */
}
.programs-section .courses-display .course-card {
    /* height: 686px; */
    /* width: 394px; */
    margin: 0 auto;
}
.programs-section .courses-display .badge {
    top: 20px;
    left: 20px;
    right: auto;
    padding: 10px 20px;
    background-color: var(--pink-color);
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
}
.programs-section .courses-display .badge::before {
    content: "";
    position: absolute;
    inset: 0; 
    padding: 1px;
    border-radius: 100px; 
    background: linear-gradient(92.59deg, rgba(255, 255, 255, 0.6) 1.4%, rgba(255, 255, 255, 0.1) 100%);
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1; 
}
/* .programs-section .training-date.free {
    background-color: var(--pink-color);
} */
.programs-section .training-date.coming_soon {
    background-color: var(--card_text-color);
    color: var(--white-color);
}



.upcoming-section .upcoming-details {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* gap: 20px; */
}
  
.upcoming-section .event-card {
    background: var(--white-color);
    padding: 10px;
    border-radius: 10px;
    height: 358px;
    /* display: flex;
    flex-direction: column;
    gap: 15px; */
}
.event-card.row {
    margin-right: 0px;
    margin-left: 0px;
}
  
.event-media img,
.event-media video {
    width: 100%;
    border-radius: 11.36px;
    height: 318px;
    object-fit: cover;
}
  
.instructor {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
}
  
.instructor img {
    /* width: 60px; */
    height: 199px;
    width: 100%;
    display: block;
    border-radius: 7px;
    object-fit: cover;
}
.event-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    color: white;
    background: linear-gradient(181.61deg, rgba(25, 25, 25, 0) 4.8%, #111111 90.26%);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

  
.event-overlay h4 {
    font-size: 16.78px;
    color: var(--gray_white-color);
}
  
.event-overlay p {
    font-size: 13.43px;
    color: var(--card_text-color2);
    margin-bottom: 0;
}
  
.event-details {
    background-color: var(--gray_dark-color);
    /* display: flex;
    flex-direction: column; */
    /* align-items: center; */
    padding: 20px 10px;
    padding-right: 15px;
    border-radius: 7px;
    /* height: 198px; */
}
.event-details h4 {
    font-size: 14px;
    color: var(--gray_white-color);
    line-height: 100%;
    margin-bottom: 10px;
}
.event-details h6 {
    font-size: 11px;
    font-weight: 700;
    color: var(--dark-color);
    background-color: var(--card_date-BgColor2);
    border-radius: 100px;
    padding: 0px 15px;
    display: inline-flex;
    margin-bottom: 0;
}

.impactAd_section .impactAd {
    background-color: var(--lightGreen-color); /* Light green background */
    border-radius: 20px;
    padding: 40px 30px 0 40px;
}
.impactAd_section .trusted-count h2,
.impactAd_section .impactAd h2 {
    font-size: 50px;
    line-height: 50px;
}
.impactAd_section .impactAd .p {
    line-height: 100%;
}

.impactAd_section .trusted-count h2 {
    max-width: 400px;
}

.trusted-count .stacked-users img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: -10px;
}
.trusted-count .stacked-users h6 {
    font-size: 26px;
    font-family: var(--font-neueMontrealRd);
}

.joinUsAd_section {
    max-width: 1051px;
    margin: 0 auto;
}
.joinUsAd_section .joinUs_text {
    font-family: var(--font-neueMontreal);
    font-weight: 500;
    font-size: 70px;
    line-height: 70px;
    color: var(--gray_dark-color);
}



@media (max-width: 1024px) {
    .programs-section  .course-card-body {
        padding: 10px;
        padding-right: 10px;
    }
    .programs-section .courses-display .course-card {
        /* height: 686px; */
        width: auto;
        margin: 0 auto;
    }
    .programs-section .enrolled img {
        margin-right: -15px;
    }
    .upcoming-section .event-card {
        height: auto;
    }
}
@media (max-width: 768px) {
    /* .upcoming-section .event-card {
        height: auto;
    } */
    .instructor img {
        width: 158.87px;
        height: 175.87px;
    }
    .event-info {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    .event-overlay {
        width: 158.87px;
    }
    .event-details {
        width: 158.2px;
        height: 91.91px;
        padding: 10px;
    }
    .event-details h4 {
        font-size: 12.37px;
    }
    .event-details h6 {
        font-size: 9.27px;
    }
    .event-overlay {
        padding: 15px;
    }
    .event-overlay h4 {
        font-size: 14.83px;
    }
    .event-overlay p {
        font-size: 11.86px;
    }

    .impactAd_section .impactAd {
        padding: 40px 20px;
    }
    .impactAd_section .impactAd .certificateImg {
        border-radius: 11.47px;
    }
    .impactAd_section .trusted-count h2,
    .impactAd_section .impactAd h2 {
        font-size: 24px;
        line-height: 30px;
    }
    .impactAd_section .impactAd .p {
        font-size: 14px;
    }
    .impactAd_section .trusted-count {
        flex-direction: column;
        gap: 15px;
    }
    .joinUsAd_section .joinUs_text {
        font-family: var(--font-neueMontreal);
        font-size: 40px;
        line-height: 50px;
    }
}