.sliding-text-container {
    position: relative;
    overflow: hidden;
    height: 76px; 
    display: flex;
}
  
.sliding-text {
    position: absolute;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    color: white;
    opacity: 0.5;
    font-family: var(--font-neueMontreal);
    animation: slide__In 2s ease-in-out infinite;
}
  
@keyframes slide__In {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    20% {
      transform: translateY(0);
      opacity: 1;
    }
    80% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-100%);
      opacity: 0;
    }
}