.partner-page .hero-section .hero-content {
    max-width: 880px;
    margin: 0 auto;
}
.partner-page .hero-section .hero-content p {
    max-width: 701px;
    margin: 0 auto;
}
.partner-page .media-section {
    max-width: 937px;
    margin: 0 auto;
    border-radius: 20px;
}
.partner-page .media-section img {
    border-radius: 20px;
    /* min-height: 250px; */
}
.partner-page .explorerAd-section h4 {
    font-size: 22px;
}

.partner-page .support-section .container-img {
    max-width: 526px;
    height: 460px;
    border-radius: 20px;
    background-color: var(--white-color);
}
.partner-page .support-section p {
    font-size: 20px;
}




@media (max-width: 768px) {
    .partner-page .explorerAd-section h4 {
        font-size: 18px;
    }
    .partner-page .support-section .container-img {
        height: 360px;
    }
}
