.resource-page .hero-section .container-fluid {
    background-color: var(--resourceHeroSection_BgColor);
}
.resource-page .hero-image-container .hero-image {
    max-width: 319px;
    height: 392px;
    border-radius: 20px;
}
.resource-page .hero-image-container {
    max-width: 320px;
    margin: 0 auto;
    position: relative;
}
/* Sticky Notes */
.sticky-note {
    position: absolute;
    padding: 25px 10px 0 10px;
    border-radius: 9.52px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 15.24px;
    width: 175.93px;
    /* height: 222.88px; */
    font-family: var(--font-nothingYouCouldDo);
    font-weight: 600;
}
.sticky-note h5 {
    font-family: var(--font-nothingYouCouldDo);
    font-size: 15.24px;
    font-weight: 600;
}
.sticky-note ol {
    line-height: 150%;
    padding-left: 15px;
}
.top-left {
    top: -30px;
    left: -90px;
    background-color: var(--lightGreen-color);
}
  
.bottom-right {
    bottom: -90px;
    right: -80px;
    background-color: var(--card_date-BgColor2);
}
  
  /* Insights Button */
.insights-showcase {
    position: absolute;
    top: 90px;
    right: -80px;
    background-color: var(--lightGreen-color);
    color: var(--dark-color);
    border: none;
    font-size: 21px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    display: flex;
    padding: 7px 10px;
    padding-left: 15px;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-family: var(--font-neueMontreal);
    font-weight: 500;
    width: 158px;
}
.insights-showcase .resource-slidingText {
    width: 84px;
}
.insights-showcase .sliding-text-container {
    height: 40px;
}
.insights-showcase .sliding-text {
    position: relative;
    color: var(--dark-color);
    opacity: 1;
    font-style: normal;
    animation: slideIn 3s ease-in-out infinite;
}
.insights-showcase .customBtn-icon {
    width: 40px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--gray_dark-color);
}
  

.explorerAd-section {
    display: flex;
    justify-content: center;
}
  
.explorer-card {
    background-color: transparent;
    border-radius: 13.27px;
    padding: 20px;
    /* text-align: center; */
    /* box-shadow: 0 2px 8px #0000001a; */
    transition: transform 0.3s ease-in-out;
    border: 2px solid var(--gray_white-color);
    max-width: 353px;
    margin: 0 auto;
}
.explorer-section .trainers-cards .cards-display {
    min-width: 1200px;
    /* width: 1440px; */
}
  
.explorer-card:hover {
    transform: scale(1.01);
}
  
.explorer-card hr {
    /* width: 60px;
    height: 2px; */
    background-color: var(--dark-color);
    margin: auto;
    /* border: none; */
}
  
.explorer-card p {
    font-size: 16px;
    color: var(--card_text-color);
    margin-top: 20px;
    margin-bottom: 0;
}
  

.how_it_works-section {
    max-width: 705px;
} 
.how_it_works-section ol {
    padding-left: 20px;
    font-weight: bold;
} 
.how_it_works-section ol .info-title {
    font-weight: 700;
    font-style: italic;
    font-size: 20px;
}
.how_it_works-section ol .info-desc {
    font-size: 20px;
} 










@media (max-width: 767px) {
    .resource-page .hero-image-container .hero-image {
        width: 202.14px;
        height: 248.39px;
        border-radius: 12px;
    }
    .sticky-note {
        position: absolute;
        padding: 20px 10px;
        border-radius: 9.52px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        font-size: 9.66px;
        width: 127.95px;
        height: 141.23px;
        font-family: var(--font-nothingYouCouldDo);
        font-weight: 600;
    }
    .sticky-note h5 {
        font-family: var(--font-nothingYouCouldDo);
        font-size: 9.66px;
        font-weight: 600;
    }
    .top-left {
        top: -30px;
        left: -30px;
    }
      
    .bottom-right {
        bottom: -50px;
        right: 0px;
    }
    .insights-showcase {
        top: 40px;
        right: -10px;
        gap: 10px !important;
        border-radius: 6.34px !important;
        width: 130px;
    }
}
