  
.navbar-default-color {
    /* background-color: var(--basic-color); */
    background-color: #eaeaea00;
 }
  
.navbar-default-color .navbar-expand-md {
    /* background-color: var(--basic-color); */
    background-color: #eaeaea00;
 }
  
.navbar-color-onscroll {
    background-color: #00000099;
    /* background-color: var(--dark-color); */
 }
  
.navbar-color-onscroll .navbar-expand-md {
    background-color: #00000000;
    /* background-color: var(--dark-color); */
 }
  
.navbar {
    transition: background-color 1s ease;
    z-index: 1000;
    gap: 10px;
 }
  
.navbar nav {
    max-width: 1300px;
    margin: 0 auto;
 }
  
.nav-link {
    color: var(--basic-white) !important;
    /* padding-left: 0 !important;
    padding-right: 0 !important; */
    font-family: var(--font-neueMontreal);
    font-weight: 500;
    font-size: 18px !important;
    position: relative;
 }
  
/* .nav-link::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 4px;
    background: var(--gray_dark-color);
    transition: width 0.5s ease-in-out;
}

.nav-link.active::after,
.nav-link:hover::after {
    width: 100%;
} */

.nav-link.active,
.nav-link:hover {
    background-color: var(--active_link-color) !important;
    padding: 5px 3px;
    border-radius: 30px;
}
  
.navbar-expand-md .navbar-collapse {
    flex-grow: 0;
 }
  
 .menu-icon {
    display: none;
    cursor: pointer;
    z-index: 1001;
    position: relative;
    width: 30px;
    height: 24px;
}
  
.menu-icon div {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--active_link-color);
    transition: transform 0.5s ease, opacity 0.5s ease;
}
  
.menu-icon div:nth-child(1) {
    top: 0;
}
  
/* .menu-icon div:nth-child(2) {
    top: 8px;
} */
  
.menu-icon div:nth-child(2) {
    top: 10px;
}
  
.menu-icon.open div:nth-child(1) {
    transform: rotate(45deg) translate(2px, 5px);
}
  
/* .menu-icon.open div:nth-child(2) {
    opacity: 0;
} */
  
.menu-icon.open div:nth-child(2) {
    transform: rotate(314deg) translate(2px, -5px);
}
.menu-icon {
    display: block;
}
  
@media (max-width: 767px) {
  .navbar-collapse {
      position: fixed;
      top: 85px;
      /* right: 0; */
      width: 90vw;
      margin: 0 auto;
      height: auto;
      /* background: var(--dark-color); */
      background: var(--dark-color);
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateX(0);
      z-index: 1000;
      transition: transform 1s ease;
      border-radius: 20px;
      padding: 10px 0;
   }
  
  .navbar-collapse.show {
      animation: slideIn 1s forwards;
      transform: translateX(100%);
   }
  
  .navbar-collapse.hide {
      animation: slideOut 0.7s forwards;
      transform: translateX(0);
   }
  
  .navbar-nav {
      flex-direction: column;
      text-align: center;
   }
  .navbar-nav a {
      font-size: 18px !important;
      color: #fff !important;
   }
  .navbar-nav a.active {
      color: #fff !important;
   }
  
  .navbar-brand {
      /* position: absolute;
      top: 10px; */
      /* left: 20px; */
      z-index: 1100;
   }
   .navbar-brand img {
       height: 46.992px;
       width: 100px;
    }

    .nav-link.active,
    .nav-link:hover {
        padding: 5px 10px !important;
        border-radius: 20px !important;
    }
}
@media (min-width: 768px) {
     .menu-icon {
         display: none;
     }
}




@keyframes slideIn {
    from {
      transform: translateX(100%);
   }
    to {
      transform: translateX(0);
   }
}
  
@keyframes slideOut {
    from {
      transform: translateX(0);
   }
    to {
      transform: translateX(100%);
   }
}

  