  
.navbar-default-color {
    /* background-color: var(--basic-color); */
    background-color: #eaeaea00;
}
  
.navbar-default-color .navbar-expand-md {
    /* background-color: var(--basic-color); */
    background-color: #eaeaea00;
}
  
.navbar-color-onscroll {
    background: linear-gradient(
        #ffffff99 60%,  
        #ffffff1a 100% 
    );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    /* box-shadow: 0 4px 6px #0000001a;  */
}

  
.navbar-color-onscroll .navbar-expand-md {
    background-color: #00000000;
    /* background-color: var(--dark-color); */
}
  
.navbar {
    transition: background-color 1s ease;
    z-index: 1000;
    gap: 10px;
}
  
.navbar nav {
    max-width: 1440px;
    margin: 0 auto;
}

.navbar-brand {
    display: flex;
    align-items: center;
    gap: 1px;
}
.navbar-brand div {
    display: flex;
    flex-direction: column;
    /* gap: 3px; */
}
.navbar-brand span {
    font-family: var(--font-neueMontreal);
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    color: var(--dark-color);
}
  
.nav-link {
    color: var(--basic-white) !important;
    /* padding-left: 0 !important;
    padding-right: 0 !important; */
    font-family: var(--font-neueMontreal);
    font-weight: 500;
    font-size: 18px !important;
    position: relative;
 }



/* Dropdown styling */
.dropdown-container {
    position: relative;
}
  
@keyframes slideDown {
0% {
    opacity: 0;
    transform: translateY(-50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}

@keyframes slideUp {
0% {
    opacity: 1;
    transform: translateY(0);
}
100% {
    opacity: 0;
    transform: translateY(-50px);
}
}

.dropdown_menu {
    position: absolute;
    top: 40px;
    left: -250px;
    background: var(--gray_dark-color);
    color: var(--gray_white-color);
    border-radius: 15px;
    padding: 30px 20px 30px 30px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-50px);
    width: auto; 
    min-width: auto; 
    /* max-width: 100%; */
    display: inline-block;
    white-space: nowrap;
}
.dropdown_menu .dropdown-grid {
    width: 100%; 
    white-space: nowrap;
    display: grid;
    grid-template-columns: repeat(3, 1fr);   
}
.dropdown_menu.partner-menu,
.dropdown_menu.resource-menu {
    left: -25px;
}
.dropdown_menu.partner-menu .dropdown-grid,
.dropdown_menu.resource-menu .dropdown-grid {
    display: grid;
    grid-template-columns: 100%;   
}
.dropdown-grid .border_end {
    position: relative;
}
.dropdown-grid .border_end::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    background-color: #ffffff4d;
}
.dropdown-grid .first.border_end::after {
    left: 145px;
}
.resource-menu .dropdown-grid .first.border_end::after {
    left: 135px;
}
.about-menu .dropdown-grid .first.border_end::after {
    left: 180px;
}
.partner-menu .dropdown-grid .first.border_end::after {
    left: 180px;
}
.dropdown-grid .second.border_end::after {
    left: 220px;
}
.dropdown_menu .dropdown-grid h4 {
    color: var(--gray_white-color);
    font-size: 18px;
    line-height: 100%;
    margin-bottom: 25px;
}
.dropdown_menu .dropdown-grid p {
    color: var(--card_text-color2);
    font-size: 12px;
    line-height: 100%;
}

.dropdown-container:hover .dropdown_menu {
    visibility: visible;
    animation: slideDown 0.5s ease forwards;
}

.dropdown-container .dropdown_menu {
    animation: slideUp 0.5s ease forwards;
}

/* Delay hiding visibility so it disappears after animation */
.dropdown-container:not(:hover) .dropdown_menu {
    animation: slideUp 0.5s ease forwards;
    animation-delay: 0.1s; /* Prevent instant hiding */
    visibility: hidden;
}
  
  
  
  
.navbar-expand-md .navbar-collapse {
    flex-grow: 0;
 }
  
 .menu-icon {
    display: none;
    cursor: pointer;
    z-index: 1001;
    position: relative;
    width: 30px;
    height: 24px;
}
  
.menu-icon div {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--dark-color);
    transition: transform 0.5s ease, opacity 0.5s ease;
}
  
.menu-icon div:nth-child(1) {
    top: 0;
}
  
/* .menu-icon div:nth-child(2) {
    top: 8px;
} */
  
.menu-icon div:nth-child(2) {
    top: 10px;
}
  
.menu-icon.open div:nth-child(1) {
    transform: rotate(45deg) translate(2px, 5px);
}
  
/* .menu-icon.open div:nth-child(2) {
    opacity: 0;
} */
  
.menu-icon.open div:nth-child(2) {
    transform: rotate(314deg) translate(2px, -5px);
}
.menu-icon {
    display: block;
}
.mobile-dropdown {
    margin-top: 5px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.mobile-dropdown a {
    font-size: 22px !important;
}
  
@media (max-width: 767px) {
  .navbar-collapse {
    align-items: center;
    background: var(--white-color);
    border-radius: 0px;
    /* display: flex; */
    height: 100vh;
    justify-content: start;
    margin: 0 auto;
    padding: 10px 0 10px 30px;
    position: fixed;
    top: 0px;
    transform: translateX(0);
    transition: transform 1s ease;
    width: 100vw;
    z-index: 1000;
    left: 0;
   }
  
  .navbar-collapse.show {
      animation: slideIn 1s forwards;
      transform: translateX(100%);
   }
  
  .navbar-collapse.hide {
      animation: slideOut 0.7s forwards;
      transform: translateX(0);
   }
  
  .navbar-nav {
      flex-direction: column;
      position: relative;
      top: 80px;
   }
  .navbar-nav a {
      font-size: 25px !important;
      color: var(--dark-color) !important;
    }
    .navbar-nav a.active {
      color: var(--dark-color) !important;
      /* color: #fff !important; */
   }
  
  .navbar-brand {
      /* position: absolute;
      top: 10px; */
      /* left: 20px; */
      z-index: 1100;
   }

   .navbar-brand img {
       height: 39px;
       width: 46.22px;
    }
    .navbar-brand span {
        font-size: 15.39px;
        line-height: 14.62px;
    }

    .nav-link.active,
    .nav-link:hover {
        padding: 5px 0 !important;
        border-radius: 20px !important;
    }
    /* .dropdown_menu {
        display: none !important;
        visibility: hidden !important;
        opacity: 0 !important;
        pointer-events: none;
    } */
     .mobile-dropdown .customBtn {
        font-size: 20px !important;
    }
}
@media (min-width: 768px) {
     .menu-icon {
         display: none;
     }
}




@keyframes slideIn {
    from {
      transform: translateX(100%);
   }
    to {
      transform: translateX(0);
   }
}
  
@keyframes slideOut {
    from {
      transform: translateX(0);
   }
    to {
      transform: translateX(100%);
   }
}

  