.welcome-page h1 {
    font-size: 50px;
    line-height: 50px;
}

.pageModal h2 {
    font-size: 24px;
    line-height: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
}
.pageModal p {
    color: var(--card_text-color);  
    font-size: 16px;  
}

#regModal .modal-dialog {
    max-width: 765px;
    border: none;
}
#regModal .modal-content {
    border: none;
}

.liveClasses_section {
    max-width: 600px;
    margin: 0 auto;
}


.liveClasses_section .input-group-text {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: var(--border_gray-color);
}

.liveClasses_section .text-danger {
    color: #FF3B30 !important;
    font-size: 14px;
}
.pageModal .welcomeModal {
    border: 1px solid var(--border_gray-color);
    height: 65px;
    width: 65px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .welcome-page .hero-section iframe {
        height: 184px;
    }
}