.cosmos-logo {
    display: block;
    width: 40px;
    height: 40px;
}

.cosmos-logo svg {
    width: 100%;
    height: 100%;
}

.cosmos-logo-text span {
    color: #FFF;
    font-family: var(--font-neueMontrealRg);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
}

.announcement .events-desc h1 {
    color: #FFF;
    margin-top: 15px;
    font-family: var(--font-cosmos);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 101.8%;
    /* 36.77px */
    letter-spacing: -1.084px;
}

.announcement .events-desc .events-text {
    color: #FFF;
    font-family: var(--font-neueMontrealRg);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 244px;
}

.announcement .events-desc .events-text strong {
    color: #C7F16C;
    font-weight: 700;
}

.events-reg {
    color: #FFF;
    font-family: var(--font-neueMontrealRg);
    font-size: 11.63px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 5px;
}

.events-reg strong {
    font-weight: 700;
}

.events-reg a {
    color: #FFF !important;
}

.events-desc {
    display: flex;
}

.events-desc .lt {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.events-desc .lt .collage-container {
    display: flex;
    flex: 1 1 auto;
    align-items: end;
}

.events-desc .rt {
    flex: 0 0 14.5%;
}

.collage.collage-col {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.collage.collage-row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.collage.collage-col .img-collage {
    width: 100%;
    @media (max-width: 768px) {
        width: 100%;
    }
}

.collage img,
.collage svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 926px) {
    .announcement .events-desc h1 {
        font-size: 20px;
        line-height: 25px;
    }

    .announcement .events-desc .events-text {
        font-size: 14px;
        line-height: 18px;
    }

    .announcement .icon-label {
        font-size: 14px !important;
    }

    .announcement .icon {
        width: 18px !important;
        height: 18px !important;
    }

    .events-reg {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 16px;
    }
}