@font-face {
  font-family: 'NeueMontreal'; 
  src: url('./assets/fonts/neueMontreal/NeueMontreal-Medium.otf') format('opentype');
}

:root {
  --gray_dark-color: #101010; 
  --active_link-color: #AAC1E4;
  --dark-color: #000;
  --white-color: #fff;

  --basic-color: #E6FE5F; 

  --font-neueMontreal: 'NeueMontreal';
}
body {
  /* background-color: #3d3939; */
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--gray_dark-color);
}
.padding_y-spacing {
  padding-top: 75px;
  padding-bottom: 75px;
}


/* Custom Buttons/Links */
.customBtn {
  display: flex;
  padding: 5px 5px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 30px;
  border: 2px solid transparent;
  background: var(--gray_dark-color);

  color: #FFF;
  font-family: var(--font-neueMontreal);
  font-weight: 500;
  font-size: 18px;

  transition: gap 0.5s ease-in-out;
  animation-timing-function: ease-in-out;
  animation-duration: 40000ms;
}

.customBtn:hover {
  gap: 30px;
}



@media (max-width: 768px) {
  .padding_y-spacing {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}





/*Styling scrollable elements*/
.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in {
  animation: fade-in .8s ease-in-out both;
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom .8s ease-in-out both;
}

.scrolled.slide-left {
  animation: slide-in-left .8s ease-in-out both;
}

.scrolled.slide-right {
  animation: slide-in-right .8s ease-in-out both;
}


@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(75px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}