@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
@font-face {
  font-family: 'NeueMontreal'; 
  src: url('./assets/fonts/neueMontreal/NeueMontreal-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'NeueMontreal_regular'; 
  src: url('./assets/fonts/neueMontreal/NeueMontreal-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'Cosmos';
  src: url('./assets/fonts/cosmos/Cosmos-Light.ttf') format('woff');
}
@font-face {
  font-family: 'Cosmos_medium';
  src: url('./assets/fonts/cosmos/Cosmos-Medium.ttf') format('woff');
}

:root {
  --gray_dark-color: #101010; 
  --white_gray-color: #EDEDED; 
  --gray_white-color: #FDFCFD; 
  --border_gray-color: #E2E2E2;
  --card_text-color: #3C3C3C;
  --card_text-color2: #B0B0B0;
  --card_date-BgColor2: #90B8F3;

  --active_link-color: #AAC1E4;
  --dark-color: #000;
  --white-color: #fff;
  --pink-color: #FFC3FF;
  --lightGreen-color: #C7F16C;

  --programsHeroSection_BgColor: #BDADFF;
  --resourceHeroSection_BgColor: #FFC3FF;
  --businessHeroSection_BgColor: #FFE6C3;
  --aboutHeroSection_BgColor: #C7F16C;

  --basic-color: #BDD7FE; 
  --basic-BgColor: #F3F3F3; 

  --font-neueMontreal: 'NeueMontreal';
  --font-neueMontrealRg: 'NeueMontreal_regular';
  --font-cosmos: 'Cosmos';
  --font-cosmos_medium: 'Cosmos_medium';
  --font-nothingYouCouldDo: 'Nothing You Could Do', cursive;
}
body {
  background-color: var(--basic-BgColor);
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--gray_dark-color);
}
.padding_y-spacing {
  padding-top: 75px;
  padding-bottom: 75px;
}

h1 {
  font-family: var(--font-cosmos);
  font-weight: 700;
  font-size: 90px;
  letter-spacing: 0;
  line-height: 90px;
  color: var(--gray_dark-color);
}
h2 {
  font-family: var(--font-cosmos);
  font-weight: 700;
  font-size: 70px;
  letter-spacing: 0;
  line-height: 61px;
  color: var(--gray_dark-color);
}
h4 {
  font-family: var(--font-neueMontreal);
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 28.8px;
  color: var(--gray_dark-color);
}
h6 {
  font-family: var(--font-neueMontreal);
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: var(--gray_dark-color);
}
p {
  font-family: var(--font-neueMontrealRg);
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 24px;
  color: var(--gray_dark-color);
}

.section-width {
  max-width: 1262px;
  margin: 0 auto;
}

/* Custom Buttons/Links */
.btn-action_div {
  display: flex;
  justify-content: center;
}
.customBtn {
  display: flex;
  padding: 3px 5px;
  padding-left: 15px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 30px;
  border: 2px solid transparent;
  background: var(--gray_dark-color);

  color: #FFF;
  font-family: var(--font-neueMontreal);
  font-weight: 500;
  font-size: 18px;

  transition: gap 0.5s ease-in-out;
  animation-timing-function: ease-in-out;
  animation-duration: 40000ms;
}
.customBtn img {
  width: 42px;
  height: 42px;
}
.customBtn:hover {
  gap: 30px;
}


/* Custom Tabs */
.custom-tabs {
  border-radius: 50px;
  background-color: var(--white_gray-color);
  padding: 7px;
  color: var(--gray_dark-color);
  font-family: var(--font-neueMontreal);
  font-size: 18px;
  font-weight: 500;
}
.custom-tabs span {
  padding: 10px;
}
.custom-tabs .custom-tabActive {
  border-radius: 30px;
  background-color: var(--white-color);
  font-size: 16px;
}
.nav-btn {
  height: 37.94px;
  width: 37.94px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: var(--gray_dark-color);
}

/* Form Styling */
.form-control {
  background-color: var(--border_gray-color);
  border-radius: 30px;
  padding: 15px 20px;
}
textarea.form-control {
  border-radius: 20px;
}
input:focus {
  box-shadow: none;
  border: none;
}
/* input.form-control, */
input,
textarea.form-control,
textarea::placeholder,
input::placeholder {
  color: var(--card_text-color2) !important;
  font-size: 20px !important;
}

@media (max-width: 768px) {
  .padding_y-spacing {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (min-width: 992px) {
  .container, .container-lg, .container-md, .container-sm {
      max-width: 1440px;
  }
}



/*Styling scrollable elements*/
.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in {
  animation: fade-in .8s ease-in-out both;
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom .8s ease-in-out both;
}

.scrolled.slide-left {
  animation: slide-in-left .8s ease-in-out both;
}

.scrolled.slide-right {
  animation: slide-in-right .8s ease-in-out both;
}


@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(75px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



@media (max-width: 768px) {
  h1 {
    font-size: 50px;
    line-height: 50px;
  }
  h2 {
    font-size: 30px;
    line-height: 40px;
  }
  h4 {
    font-size: 18px;
    line-height: 100%;
  }
  p {
    font-size: 16px;
    line-height: 19.2px;
  }
  .customBtn {
    /* padding: 10px 20px; */
    font-size: 14px;
  }
  .customBtn img {
    width: 32.51px;
    height: 32.51px;
  }
}