@font-face {
  font-family: 'NeueMontreal'; 
  src: url('./assets/fonts/neueMontreal/NeueMontreal-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'NeueMontreal_regular'; 
  src: url('./assets/fonts/neueMontreal/NeueMontreal-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'Cosmos';
  src: url('./assets/fonts/cosmos/Cosmos-Light.ttf') format('woff');
}
@font-face {
  font-family: 'Cosmos_medium';
  src: url('./assets/fonts/cosmos/Cosmos-Medium.ttf') format('woff');
}

:root {
  --gray_dark-color: #101010; 
  --white_gray-color: #EDEDED; 
  --gray_white-color: #FDFCFD; 
  --border_gray-color: #E2E2E2;
  --card_text-color: #3C3C3C;
  --card_text-color2: #B0B0B0;

  --active_link-color: #AAC1E4;
  --dark-color: #000;
  --white-color: #fff;
  --pink-color: #FFC3FF;

  --basic-color: #BDD7FE; 

  --font-neueMontreal: 'NeueMontreal';
  --font-neueMontrealRg: 'NeueMontreal_regular';
  --font-cosmos: 'Cosmos';
  --font-cosmos_medium: 'Cosmos_medium';
}
body {
  background-color: var(--gray_white-color);
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--gray_dark-color);
}
.padding_y-spacing {
  padding-top: 75px;
  padding-bottom: 75px;
}

h1 {
  font-family: var(--font-cosmos);
  font-weight: 700;
  font-size: 90px;
  letter-spacing: 0;
  line-height: 90px;
  color: var(--gray_dark-color);
}
h2 {
  font-family: var(--font-cosmos);
  font-weight: 700;
  font-size: 70px;
  letter-spacing: 0;
  line-height: 61px;
  color: var(--gray_dark-color);
}
h4 {
  font-family: var(--font-neueMontreal);
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 28.8px;
  color: var(--gray_dark-color);
}
h6 {
  font-family: var(--font-neueMontreal);
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: var(--gray_dark-color);
}
p {
  font-family: var(--font-neueMontrealRg);
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 24px;
  color: var(--gray_dark-color);
}


/* Custom Buttons/Links */
.btn-action_div {
  display: flex;
  justify-content: center;
}
.customBtn {
  display: flex;
  padding: 5px 5px;
  padding-left: 15px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 30px;
  border: 2px solid transparent;
  background: var(--gray_dark-color);

  color: #FFF;
  font-family: var(--font-neueMontreal);
  font-weight: 500;
  font-size: 18px;

  transition: gap 0.5s ease-in-out;
  animation-timing-function: ease-in-out;
  animation-duration: 40000ms;
}

.customBtn:hover {
  gap: 30px;
}



@media (max-width: 768px) {
  .padding_y-spacing {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}





/*Styling scrollable elements*/
.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in {
  animation: fade-in .8s ease-in-out both;
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom .8s ease-in-out both;
}

.scrolled.slide-left {
  animation: slide-in-left .8s ease-in-out both;
}

.scrolled.slide-right {
  animation: slide-in-right .8s ease-in-out both;
}


@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(75px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



@media (max-width: 768px) {
  h1 {
    font-size: 50px;
    line-height: 50px;
  }
  h2 {
    font-size: 30px;
    line-height: 30px;
  }
  p {
    font-size: 16px;
    line-height: 19.2px;
  }
  .customBtn {
    /* padding: 10px 20px; */
    font-size: 14px;
  }
}