@keyframes backgroundColorPalette {
    0% { background-color: #BDD7FE; }
    25% { background-color: #BDADFF; }
    50% { background-color: #FDD6FD; }
    75% { background-color: #FFE6C3; }
    100% { background-color: #BDD7FE; }
}

.animated-background {
    animation-name: backgroundColorPalette;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.hero-section .container-fluid {
    /* background-color: var(--basic-color); */
    padding: 4rem 0;
    margin-top: -150px;
    padding-top: 175px;
    padding-bottom: 85px;
}
.hero-section p {
    font-family: var(--font-neueMontreal);
}

.hero-section video {
    /* height: 320px; */
}

.info-section .info-details {
    background-color: var(--gray_white-color);
    border-radius: 20px;
    box-shadow: 7px 10px 40px 0px #0000000D;
}

.info-section .tabs-section {
    max-width: 400px;
    display: flex;
    /* margin: 0 auto; */
}



.section_headingWithBtn {
    max-width: 767px;
    margin: 0 auto;
    text-align: center;
}
.section_headingWithBtn p {
    font-size: 24px;
    line-height: 28.8px;
    font-family: var(--font-neueMontrealRg);
}
.why-section {
    max-width: 1085px;
    margin: 0 auto;
}
.why-section .why-cards .why-card {
    background-color: var(--white-color);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 341px;
    margin: 0 auto;
    box-shadow: 7px 10px 40px 0px #0000000D;
}
img.xt-border-radius {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
img.xb-border-radius {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.why-card .card-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}
.why-card .card-content p {
    font-size: 16px;
    line-height: 19.2px;
    color: var(--card_text-color);
}
.card-content .icon-circle {
    height: 40.71px;
    width: 40.71px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border_gray-color);
}
.col-md-6 .why-card {
    max-width: 526px !important;
    padding: 25px;
}
.col-md-6 .why-card .xb-border-radius {
    border-radius: 15px;
}
.col-md-6 .why-card .card-content {
    padding: 10px 0;
}


.trainers-cards {
    position: relative;
    overflow-x: auto;
    padding: 10px;
    /* white-space: nowrap; */
}
.section-heading {
    max-width: 781px;
}


.courses-display-section::-webkit-scrollbar,
.brand-logos::-webkit-scrollbar,
.trainers-cards::-webkit-scrollbar {
    background-color: transparent;
    border-radius: 10px;
    height: 5px;
}
.courses-display-section::-webkit-scrollbar-thumb,
.brand-logos::-webkit-scrollbar-thumb,
.trainers-cards::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
}


.trainers-section .trainers-cards .cards-display {
    display: flex;
    gap: 10px;
    width: 1300px;
    margin: 0 auto;
    position: relative;
    box-shadow: inset 30px 0 30px -20px rgba(255, 255, 255, 1),  /* Left fade */
                inset -30px 0 30px -20px rgba(255, 255, 255, 1); /* Right fade */
}


.trainers-section .trainers-cards .trainer-card {
    width: 236px;
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: 7px 10px 40px 0px #0000000D;
}
.trainer-card .xt-border-radius {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.trainers-section .trainers-cards .trainer-card p {
    font-size: 16px;
    line-height: 19.2px;
    color: var(--card_text-color2);
    margin-bottom: 0;
}

.testimony-section {
    max-width: 757px !important;
    margin: 0 auto;
}
.testimony-section h5 {
    font-family: var(--font-neueMontreal);
    font-weight: 500;
    font-size: 26px;
    letter-spacing: 0;
    line-height: 100%;
    color: var(--gray_dark-color);
}
.testimony-section .author-title {
    color: var(--card_text-color2);
    font-size: 16px;
}


.brand-logos {
    position: relative;
    overflow-x: auto;
    padding: 10px;
}




.courses-display-section {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  /* .courses-display {
    display: flex;
    gap: 20px;
    scroll-behavior: smooth;
    scrollbar-width: none;
  } */
.course-section .courses-display {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
  
.course-card {
    background: #000;
    color: white;
    border-radius: 13.27px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    flex: 0 0 auto;
}
  
  
  /* Pagination Indicators */
  .pagination-indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 50%;
    margin: 0 5px;
    transition: background-color 0.3s;
  }
  
  .dot.active {
    background-color: black;
  }
  
  
.course-card-image {
    position: relative;
    width: 100%;
    height: 283px;
}
  
.course-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 13.27px;
    border-top-right-radius: 13.27px;
}
  
.badge {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: var(--pink-color);
    color: var(--dark-color);
    padding: 7px 20px;
    border-radius: 100px;
    font-size: 14px;
    font-weight: 500;
    font-family: var(--font-neueMontreal);
}
  
.course-card-body {
    padding: 20px;
    padding-right: 30px;
}
  
.course-card-body h4 {
    font-weight: 500;
    color: var(--gray_white-color);
}
  
.course-meta {
    font-size: 16px;
    color: var(--gray_white-color);
}
.course-meta span {
    font-size: 13px;
}
  
.training-date {
    background-color: var(--gray_white-color);
    color: #000;
    padding: 7px 20px;
    border-radius: 100px;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    margin: 5px 0;
}
.training-date.free {
    background-color: var(--pink-color);
}
  
.course-description {
    font-size: 16px;
    color: var(--border_gray-color);
    /* font-family: var(--font-neueMontreal); */
    /* line-height: 100%; */
}
  
.course-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
  
.enrolled {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
    border-radius: 30px;
    padding: 10px;
    background-color: var(--card_text-color);
    z-index: 1;
}

.enrolled::before {
    content: "";
    position: absolute;
    inset: 0; /* Covers entire div */
    padding: 1px; /* Border thickness */
    border-radius: 30px; /* Match parent */
    background: linear-gradient(92.59deg, #ffffff99 1.4%, #ffffff1a 100%);
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1; /* Places behind the content */
}


  
.enrolled img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: -10px;
}
.studentImages {
    display: flex;
    align-items: center;
}
  
.learn-more {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
  


.pricing-section .plans-display .plan-card {
    border-radius: 13.27px;
    max-width: 394px;
    margin: 0 auto;
    width: 100%;
}
.pricing-section .plans-display h5 {
    font-family: var(--font-neueMontreal);
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: var(--gray_dark-color);
}
.pricing-section .plans-display li,
.pricing-section .plans-display p {
    font-family: var(--font-neueMontrealRg);
    font-size: 14px;
    color: var(--gray_dark-color);
}
.pricing-section .plans-display button {
    border-radius: 100px;
    font-size: 14px;
    font-family: var(--font-neueMontreal);
    font-weight: 500;
}
.pricing-section .plans-display hr {
    color: var(--gray_dark-color);
}
.pricing-section .plans-display .plan_long-card {
    border-radius: 13.27px;
    max-width: 566px;
    margin: 0 auto;
    width: 100%;
    /* height: 402px; */
}
.pricing-section .plans-display .plan_long-card img {
    border-bottom-left-radius: 13.27px;
    border-bottom-right-radius: 13.27px;
}




.blog-section .blog-cards .blog-card {
    max-width: 341px;
    margin: 0 auto;
    background-color: var(--white-color);
    border-radius: 10px;
}
.blog-section h2 {
    font-size: 40px;
    line-height: 100%;
}
.blog-section .heading-link {
    font-family: var(--font-neueMontrealRg);
    font-weight: 500;
    font-size: 18px;
}
.blog-cards .blog-card h4 {
    font-size: 22px;
    line-height: 100%;
}


.faq-section .section-heading {
    max-width: 767px;
    margin: 0 auto;
}
.faq-section .section-heading h2 {
    font-size: 50px;
}
.faq-section .section-heading p {
    font-size: 24px;
    line-height: 100%;
}
.faq-section .faq-container {
    max-width: 839px;
    margin: 0 auto;
}
.faq-section .faq-container .faq-item {
    background-color: var(--white-color);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.faq-container .faq-question .faq-icon {
    border: 1.5px solid #000;
    height: 41px;
    width: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20.5px;
}
.faq-container .faq-question {
    font-family: var(--font-neueMontreal);
    font-weight: 400;
    font-size: 24px;
}
.faq-answer {
    min-height: 0;
    overflow: hidden;
    transition: min-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
    display: none;
}
.faq-answer p {
    font-size: 16px;
}
.faq-answer.open {
    min-height: 10px; 
    opacity: 1;
    display: block;
}















@media (max-width: 1024px) {
    .hero-section .container-fluid {
        margin-top: -200px;
        padding-top: 200px;
    }  
    .programs-section  .course-card-body {
        padding: 10px;
        padding-right: 10px;
    }
    .programs-section .courses-display .course-card {
        /* height: 686px; */
        width: auto;
        margin: 0 auto;
    }
    .programs-section .enrolled img {
        margin-right: -15px;
    }
}
@media (max-width: 850px) {
    .hero-section .container-fluid {
        margin-top: -250px;
        padding-top: 230px;
    }  
}
@media (max-width: 768px) {
    .info-section .tabs-section {
        max-width: 315px;
        margin: 0 auto;
        justify-content: center;
    }   
    .info-section .custom-tabs,
    .custom-tabs .custom-tabActive {
        font-size: 12px;
    }
    .course-card-image {
        height: 222px;
    }
    .courses-display .course-card {
        /* height: 686px; */
        width: 313.97px;
        margin: 0 auto;
    }
    .training-date {
        font-size: 10.95px;
    }
    .enrolled,
    .course-description {
        font-size: 12.56px;
    }
    .course-card-body {
        padding: 10px;
        padding-right: 10px;
    }
    .learn-more {
        font-size: 14px;
    }
    .faq-section .section-heading h2 {
        font-size: 35px;
    }
}